@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --first-color-primary: hsl(215, 51%, 70%);
    --second-color-primary: hsl(178, 100%, 50%);
    --color-main-bg: hsl(217, 54%, 11%);
    --color-main-card-bg: hsl(216, 50%, 16%);
    --color-line-card: hsl(215, 32%, 27%);
    --color-white-font: hsl(0, 0%, 100%);
    --font-size-paragraph: 1.125rem;
    --font-family: 'Outfit', sans-serif;
    --font-weight-footer: 300;
    --font-weight-header: 600;
    --font-weight-content: 400;
    --mobile-width: 375px;
    --desktop-width: 1440px;
    --font-size-xl: 5rem;
    --font-size-600: 1.5rem;
    --font-size-500: 1.25rem;
    --font-size-400: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-size control */
h1 {
    font-size: 2rem;
}

.etherum-time-data p {
    font-size: 0.9rem;
}

.etherum-price-data p, .header-image p {
    font-size: 1rem;
}

.card-avatar {
    font-size: 0.8rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--font-family);
    background: var(--color-main-bg);
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background: var(--color-main-card-bg);
    border-radius: 20px;
    padding: 1.5625rem;
    max-width: 404px;
}

.card-image {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image";
    align-items: center;
    justify-items: center;
}

.image-card, .icon-view-container {
    grid-area: image;
    width: 100%;
    border-radius: 5%;
    max-width: 350px;
}

.icon-view-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
}
span {
    color: var(--color-white-font);
}

.header-image p, .card-data p {
    color: var(--first-color-primary);
}

.card-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.etherum-price-data, .etherum-time-data {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-image, .header-image p, .card-data, .card-avatar {
    margin-top: 25px;
}

.card-avatar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    gap: 15px;
}

.card-avatar-img {
    width: 42px;
    height: 40px;
    border: 2px solid var(--color-white-font);
    border-radius: 50%;
}

span:hover, .etherum-price-data p {
    color: var(--second-color-primary);
}

.icon-view-container:hover {
    opacity: 1;
    background-color: rgba(0, 255, 247, 0.3);
}

@media (min-width: 700px) {
    /* font-size control */
    h1 {
        font-size: 2.5rem;
    }
    
    .etherum-time-data p {
        font-size: 1.3rem;
    }
    
    .etherum-price-data p, .header-image p {
        font-size: 1.5rem;
    }
    
    .card-avatar {
        font-size: 1rem;
    }
}